<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Information Technologies</title>

<link rel="stylesheet" href="/jaikin-assign-final/content/templates/css/concise.min.css">
<link rel="stylesheet" href="/jaikin-assign-final/content/templates/css/masthead.css">

</head>
<body>

<img src="/jaikin-assign-final/content/images/banner.jpg" width="600">

<header class="siteHeader" container>

<div row>
<h1 column="4" class="logo">
<a href="index.php">Welcome</a>
</h1>

<nav column="8" class="nav">
<ul>
<li><a href="../content/index.php">Home</a></li>
<li><a href="../add_entry.php">Add Entry</a></li>
<li><a href="../view_entries.php">View Entries</a></li>
<li><a href="../content/register.php">Register</a></li>
</ul>
</nav>

</div>

</header>

<main class="siteContent" container>